<div class="bd-title" id="ProductCards">
  <h1 class="ProductTitle">Produtos em destaque:</h1>
  <div class="row">
    <div class="col-md-2" id="Card" *ngFor="let item of source">
      <div class="CardAnuncio">
        <img class="card-img-top" src={{item.images[0].image}}>
        <div class="CorpoAnuncio">
          <p class="text">{{item.name}}</p>
            <div class="PriceAndBtn">
              <small class="text">R$ {{item.price}}.00</small>
              <button type="button" id="btnComprar" class="btn btn-sm btn-outline-secondary">Comprar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>