<div class="row">

  <div class="col-md-2" id="Card" *ngFor="let item of source">
    <div class="CardAnuncio">
      <img class="card-img-top" src="../../assets/Tests/software.png">
      <div class="CorpoAnuncio">
        <p class="TextoAnuncio">{{item.Name}}</p>
        <div class="d-flex justify-content-between align-items-center">
          <div class="btn-group">
            <small class="text">9 mins</small>
            <button type="button" class="btn btn-sm btn-outline-secondary">Comprar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>