#Border {
    background-color: lightsteelblue;
    height: 62px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10 auto;
    position: fixed; /* Set the navbar to fixed position */
    top: 0;
    width: 100%;
}
#Logo2 {
    margin-top: 28px;
    color: #1d4772;
    font-size: x-large;
}
#Logo {
    margin-left: 15px;
}
.DivNav {
    padding: 10px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10 auto;
    margin-right: 30px;
}

.btnNav:hover {
    background-color: #596373;
}

.btnNav:active {
    transform: scale(0.95);
}

.btnNav {
    background-color: #273c57;
    color: #fff;
    font-family: Trebuchet MS;
    font-size: medium;
    font-weight: 500;
    text-decoration: none;
    padding: 1px 6px;
    border: 0px solid #000;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(66, 66, 66, .70);
    margin-left: 10px;
}

#BtnCategorias span {
    display: block;
    width: 11px;
    height: 11px;
    margin-left: 2px;
    background-image: url("../../assets/Icones/ComboBoxIcon.png");
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(0deg);
}
#TxtPesquisa {
    padding: 3px;
    margin: 5px;
    font-size: 12px;
    width: 28vmax;
    height: 25px;
    border-width: 2px;
    border-color: #1d4772;
    background-color: #ffffff;
    color: #000000;
    border-style: solid;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(66, 66, 66, .70);
}
#btnPesquisa span{
    display: block;
    width: 24px;
    height: 24px;
    background-image: url("../../assets/Icones/search.png");
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(0deg);
}

#BackCategoria{
    background-color: aliceblue;
    height: 120px;
    height: auto;
    padding: 10px;
    display: flex;
    justify-content:baseline;
    align-items: center;
    height: 62px auto;
    position: fixed; /* Set the navbar to fixed position */
    top: 62px;
    width: 100%;
}